<div>
    <table>
        <tr>
            <th>Contact ID</th>
            <th>Contact Name</th>
            <th>Contact Type</th>
            <th>Phone Number</th>
            <th>BirthDate</th>
        </tr>

        <tr *ngFor = "let contact of contacts">
            <td>{{contact.contactId}}</td>
            <td>{{contact.contactName}}</td>
            <td>{{contact.contactType}}</td>
            <td>{{contact.phoneNumber}}</td>
            <td>{{contact.birthDate}}</td>
        </tr>
    </table>
</div>