
<mat-card class="example-card">
    <table class="main">
    <td><h3>Reservations List</h3></td>
    <td><a class="btn btn-primary" [routerLink]="['/add']">Create Reservation</a></td>
    </table>
</mat-card>

<mat-divider></mat-divider>
<mat-card class="example-card">    
    <table class="table table-responsive-md btn-table">
        <thead>
        </thead>
        <tbody>
                <tr *ngFor = "let contact of contacts">
            
                        <td>{{contact.contactName}}</td>
                        <td>{{contact.contactType}}</td>
                        <td>{{contact.phoneNumber}}</td>
                        <td>{{contact.birthDate}}</td>
                        <td><a class="badge badge-secondary" [routerLink]="['/edit', contact.contactId]">EDIT</a></td>
                        <td><button class="badge badge-danger" (click) = "deleteContact(contact.contactId)">DELETE</button></td>
                
                </tr>
        </tbody>
      </table>
</mat-card>  